* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  
  header {
      margin: 25px 10%;
      width: 80%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
  }

  /* Set answers div to display: none */ 